/* Styles */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin: 0;
    color: black;
}

#welcome {
    text-align: center;
    margin: 10px;
    vertical-align: middle;
}

body {
    margin: 0;
    height: 100%;
    width: 100%
}

.center {
    text-align: center;
}

#signup_form {
    margin: 10px;
}

.style {
    width: 30em;
    height: 20em;
    border: 2px solid black;
    border-radius: 3px;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(105, 173, 212)), color-stop(0.84, rgb(23, 82, 145)));
    position: absolute;
    z-index: -1;
}

.content {
    height: 100%;
    min-height: 100%;
    /*for mozilla*/
}

html>body .content {
    height: auto;
}

#two {
    background: url(http://cloud.niklausgerber.com/1a2n2I3J1h0M/red.png) center center no-repeat scroll #8F2041;
}

#three {
    background: url(http://cloud.niklausgerber.com/1X180T1X2v3d/dark-orange.png) center center no-repeat scroll #DC554F;
}


/* #four {
    background: url(http://cloud.niklausgerber.com/432W0y1g2h05/orange.png) center center no-repeat scroll #FF905E;
}

#five {
    background: url(http://cloud.niklausgerber.com/2N002H122B0d/yellow.png) center center no-repeat scroll #FFDB77;
} */